* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Sans Pro", sans-serif;
}


body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2c2c2c;
}

ul {
    display: flex;
}

ul li {
    list-style: none;

}

ul li a {
    text-decoration: none;
    margin: 2px;
    color: rgb(212, 212, 45);
    position: relative;
    padding: 10px 15px;
    font-size: 20px;
    margin: 0 8px;
    
}

ul li a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all 0.5s;
    border-top: 2px solid rgb(212, 212, 45);
    border-left: 2px solid rgb(212, 212, 45);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transform-origin: left;
}

ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;
    transition: all 0.5s;
    border-bottom: 2px solid rgb(212, 212, 45);
    border-right: 2px solid rgb(212, 212, 45);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transform-origin: left;
}

ul li a:hover:before,
ul li a:hover:after {
    width: 10%;
    height: 20%;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}
ul li a:focus:before,
ul li a:focus:after {
    width: 10%;
    height: 20%;

}